body{ font: 15px Arial, Helvetica, sans-serif ;
    padding: 0;
    margin:0;
    background-color: rgba(233, 219, 203, 0.596)
            }

.contenedor{
    width: 80%;
    margin: auto;
}

